@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Fira Code" ,sans-serif;
}
:root{
    --bg-programming:black;
    --secound-bg-programming:lightgray;
    --texr-color:#fff;
    --main-color:#88c999;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-programming);
    color: var(--texr-color);
}
.header{
    position: fixed;
    /* display: block;  */
    top: 0;
    left: 0;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 5;
    width: 100%;
    position: relative;
}
.logo{
    font-size: 4rem;
    color: var(--texr-color);
    font-weight: 800;
    cursor: pointer;
}
.logo{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color:var(--main-color); 
    border-bottom: 3px solid var(--main-color);
}

/* teach css */
.teach{
    /* margin-top: 5%;  */
    position: relative;
    text-align: center;
}
 .teach .title{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    color: var(--texr-color);
 }
 section .title span{
    font-size: 40px;
    font-weight: 600;
    line-height: 70px;
    position: relative;
}
section .title span::before,
section .title span::after{ /*使用 ::before 可以確保偽元素出現在 .about .title span 元素內容之前 */
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   width: 100%;
   background: #88c999;
}
section .title span::after{
   width: 70%;
   left: 50%;
   transform: translateX(-50%);
   bottom:-7px;    
}
.list{
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 30px;
    width: fit-content;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    border: 5px solid transparent;
    box-shadow: 0 0 20px rgba(136, 201, 153, 0.5); 
    margin-left: 30%;
    margin: 0 auto;
    margin-bottom: 5rem;
    text-align: left;
    line-height: 30px;
}

.testBox{
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 30px;
    width: fit-content;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    border: 5px solid transparent;
    box-shadow: 0 0 20px rgba(136, 201, 153, 0.5); 
    margin-left: 30%;
    margin: 0 auto;
    margin-bottom: 5rem;
    text-align: left;
    line-height: 30px;
}
.CommentText {
    background-color: #1e1e1e;
    color: #87c7a1;
    border: 1px solid #333;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}


 /* button */
button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  

.button{
    margin: 10px 0 40px 0;
}
blockquote {
    margin-left: 20px;
    /* border-left: 5px solid #87c7a1; */
    padding-left: 10px;
    color: #c5a5c5;
}
/* start section css */
.code-editor {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 30px;
    width: fit-content;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    border: 5px solid transparent;
    box-shadow: 0 0 20px rgba(136, 201, 153, 0.5); 
    margin-left: 30%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.code-editor:hover{
    box-shadow: 0 0 10px var(--main-color), 0 0 30px var(--main-color),
    0 0 50px var(--main-color)
}
.program-1{
    color: #858585;
    padding-right: 10px;
}
/* .content-1{
    text-align: center;
    border: 2px solid #88c999;
    justify-content: left;
    border-radius: 10px;
    background:none;
    box-shadow:0 0 15px 0 rgba(0,200,150,.5),inset 0 0 15px 0 rgba(0,200,150,.9);
    margin-top: 6rem;
    padding: 2%;
    width: 40%;
    margin-left: 40%;
    margin: 0 auto;
    margin-bottom: 10rem;
    line-height: 5%;
} */
.content-1,.content-2,.content-3,.content-4{
    text-align: center;
    justify-content: left;
    border: 2px solid #88c999;
    border-radius: 10px;
    box-shadow:0 0 15px 0 rgba(0,200,150,.5),inset 0 0 15px 0 rgba(0,200,150,.9);
    margin-top: 6rem;
    padding: 20px;
    width: 40%;
    height: auto;
    margin-left: 40%;
    margin: 0 auto;
    margin-bottom: 10rem;
    line-height: 5rem;
}

.teach p{
    font-size: 2rem;
    /* margin-left: 40%; */
    color: #fff;
    padding: 0;
}
/* text animation css */
.text-animation-1, .text-animation-2
,.text-animation-3, .text-animation-4 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #88c999; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end) 2,
      blink-caret .75s step-end infinite;
    
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #88c999; }
  }

    .menu-btn,
    .cancel-btn {
        display: none;
    }
    @media (max-width:1610px) {
        .content-1 {
            width:fit-content;
        }
        .content-2, .content-3, .content-4{
            width: 40%;
        }
        .content-1 p,.content-2 p, .content-3 p, .content-4 p{
            font-size: 16px;
        }
    }

    @media (max-width:1505px) {
        .logo{
            font-size: 3rem;
            color: var(--texr-color);
            font-weight: 800;
            cursor: pointer;
        }
    }

    @media (max-width:1300px) {
        .teach .content-1 p{
            font-size: 17px;
        }
        .content-1 ,.content-2 ,.content-3, .content-4{
            width:500px;
        }
        
    }
    @media (max-width:1050px) {    
        .navbar {
            position: fixed;
            left: -100%;
            top: 0;
            height: 100vh;
            max-width: 100vh;
            width: 100%;
            background-color: rgba(120, 132, 180, 0.9);
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
            transition: all 0.5s ease;
        }
    
        .navbar.active {
            left: 0;
        }
    
        .navbar a {
            text-align: center;
            display: block;
            margin: 10px 0;
            font-size: 23px;
            color: #FFF;
        }
    
        .navbar {
            flex-direction: column;
            align-items: center;
        }
    
        .menu-btn,
        .cancel-btn {
            font-size: 30px;
            display: block;
        }
    
        .cancel-btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
  @media (max-width: 750px) {
    section .title span{
        font-size: 30px;
    }
    /* .navbar {
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background-color: #88c999;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }

    .navbar.active {
        left: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        text-align: center;
        display: block;
        margin: 10px 0;
        font-size: 23px;
        color: #FFF;
    }

    .menu-btn,
    .cancel-btn {
        font-size: 20px;
        display: block;
    }

    .cancel-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    } */
    .code-editor{
        margin: 0 auto;
        text-align: center;
        padding: 20px;  
        width: 350px;
        font-size: 13px;
        margin-bottom: 40px;
    }
      
    .content-1, .content-2 ,.content-3,.content-4{
        text-align:justify;
        width:auto;
        margin: 0 10px 60px 10px;
    }

    .content-1 p{
        font-size: 13px;
        padding: 11px;
    }
    code{
        font-size: 12px;
    }
}